<ion-header>
  <ion-toolbar>
    <ion-title>Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>List of Games</h1>

  <div *ngFor="let category of categories">
    <h2>{{category.name}}</h2>
    <div *ngFor="let game of category.games">
      <ion-card color="light">
        <ion-card-header>{{game.name}}</ion-card-header>
        <ion-card-content>
          <ion-button
            fill="clear"
            (click)="addToMyGames(game.id)"
            shape="round"
          >
            Add to my games
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="">
          <ion-icon name="apps-outline"></ion-icon>
          <ion-label>All Games</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my-games">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>My Games</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
