<ion-header>
  <ion-toolbar>
    <ion-title>edit-category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (submit)="editCategory(form)">
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" ngModel required name="name"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Edit</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
